name: CI

on:
  pull_request:
  push:
    branches: main
    tags: '*'

jobs:
  test:
    name: Julia ${{ matrix.julia-version }} - ${{ matrix.os }} - ${{ github.event_name }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 40
    strategy:
      matrix:
        julia-version: ['1', '1.10']
        os: ['ubuntu-latest']
        include:
          # - os: windows-latest
          #   julia-version: '1'
          - os: macOS-latest
            julia-version: '1'
    steps:
      - uses: actions/checkout@v5
      - uses: julia-actions/setup-julia@v2
        with:
          version: ${{ matrix.julia-version }}
      - uses: julia-actions/cache@v2
      - uses: julia-actions/julia-buildpkg@v1
      - uses: julia-actions/julia-runtest@v1
      - uses: julia-actions/julia-processcoverage@v1
      - uses: codecov/codecov-action@v5
        with:
          file: lcov.info
